@import './variables.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	@apply font-sans;
}

::-webkit-scrollbar {
	width: 4px;
	height: 4px;
}

::-webkit-scrollbar-thumb {
	background-color: var(--color-low-contrast);
}

::-webkit-scrollbar-thumb:hover {
	background-color: var(--color-second-text);
	cursor: pointer;
}

::-webkit-scrollbar-track {
	background-color: transparent;
}

input:-webkit-autofill {
	-webkit-box-shadow: 0 0 0px 1000px var(--color-input-background) inset !important;
	-webkit-text-fill-color: var(--color-input-text) !important;
	caret-color: var(--color-input-text) !important;
	transition: background-color 5000s ease-in-out 0s;
}
