:root {
	--color-global-background: #353535;
	--color-sidebar-hover: #454545;
	--color-active-text: #ffffff;
	--color-inactive-text: #c3c3c3;
	--color-second-text: #8a8a8a;
	--color-accent-color: #c62f31;
	--color-low-contrast: #626262;
	--color-profilepic-background: #757575;
}
